@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.blog {
    &__title {
        margin-top: 60px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 60px;

    }

    &__title-h3 {
        text-align: left;
    }

    &__card {
        border: 1px solid $dark;
        background: $light;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        // margin-top: 45px;

        &__content-column {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 25px 25px 0px 25px;
        }

        &__text {
            margin-top: 25px;
            padding: 0px 25px 25px 25px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $dark;
        }
    }

    &__img {
        max-inline-size: calc(100% + 2px);
        transform: translateX(-1px) translateY(-1px);
    }
}

@media screen and (min-width: 768px) {
    .blog {

        &__wrapper {
            position: relative;
            padding: 25px 25px 0 25px;
            @include angle-decoration;
        }

        &__card {
            &__text {
                gap: 0px;
                margin-top: 15px;
            }

            &__content {
                &-column {
                    gap: 0;
                    justify-content: space-between;
                    transform: translateY(-1px);
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .blog {
        &__img {
            min-height: 240px;
            object-fit: cover;
        }

        &__wrapper {
            flex-direction: row;
            gap: 50px;
        }

        &__card {
            width: 50%;
            height: 100%;

        }
    }
}